@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    --txt-color: #000000;
    --bg-color: #ffffff;
    font-family: 'Rubik', sans-serif;
}

:root {
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: var(--bg-color);
}

#headSect {
    margin: 0%;
    padding: 0%;
    width: 100%;
    }

.headSect{ 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.uploadContainer {  
    border: dashed var(--txt-color);
    height: 850px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soon, .bizzTitle {
    position: relative;
    left: 3%;
}

.bx-loader-alt {
    position: relative;
    left: 15%;
    font-size: 350px;
}

#designContainer {
    margin: 0%;
    padding: 0%;
    width: 100%;
    
}

h3 {
    margin: 0%;
    padding: 0%;
}

.oval {
    width: 120px;
    height: 50px;
    border: solid;
    border-color: #121111;
    border-radius: 20%;
    background-color: #1a69b3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.text {
    color: #000000;
}

.text:hover {
    color: #ffffff;
}

