@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    --txt-color: #000000;
    --bg-color: #ffffff;
    font-family: 'Rubik', sans-serif;
}

:root {
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: var(--bg-color);
}

#headSect {
    margin: 0%;
    padding: 0%;
    width: 100%;
}

.uploadContainer {  
    border: dashed var(--txt-color);
    height: 850px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soon, .bizzTitle {
    position: relative;
    left: 3%;
}

.bx-loader-alt {
    position: relative;
    left: 15%;
    font-size: 350px;
}

#designContainer {
    margin: 0%;
    padding: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
}

h3 {
    margin: 0%;
    padding: 0%;
}

.oval {
    width: 250px;
    height: 100px;
    border: solid;
    border-color: rgb(255, 234, 0);
    border-radius: 35%;
    background-color: rgb(0, 85, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: #ffffff;
}

